<div class="container">
  <!-- Parte superiore -->
  <div class="up">
    <!-- Testo skills -->
    <div class="text-box">
      <app-dynamic-text [texts]="['CONTACTS']" [config]="'hover-title'" [cyclesLimit]="1"></app-dynamic-text>
      <span class="skills-bracket">{{ "{ " }}</span>
    </div>
  </div>
  <!-- Parte inferiore -->
  <div class="down">
    <form [formGroup]="emailForm" (ngSubmit)="onSubmit()" class="form-container">
      <div>
        <label>Email destinatario:</label>
        <input type="email" formControlName="to" placeholder="esempio@mail.com" />
        <label class="label-wrong" *ngIf="emailForm.get('to')?.invalid && emailForm.get('to')?.touched">
          Inserisci un'email valida
        </label>
      </div>

      <div>
        <label>Subject:</label>
        <input type="text" formControlName="subject" />
        <label class="label-wrong" *ngIf="emailForm.get('subject')?.invalid && emailForm.get('subject')?.touched">
          Il subject è obbligatorio
        </label>
      </div>

      <div>
        <label>Message:</label>
        <textarea rows="5" formControlName="message"></textarea>
        <label class="label-wrong" *ngIf="emailForm.get('message')?.invalid && emailForm.get('message')?.touched">
          Il messaggio è obbligatorio
        </label>
      </div>

      <button class="submit-button" type="submit" [disabled]="emailForm.invalid">Invia</button>
    </form>

  </div>
  <!-- Chiusa parentesi -->
  <div class="final-bracket">
    <span class="skills-bracket"> {{ "}" }} </span>
  </div>
</div>