<div class="container">
  <div class="left">
    <!-- Testo skills -->
    <div class="text-box">      
      <app-dynamic-text 
        [texts]="['ABOUT']"
        [config]="'hover-title'"
        [cyclesLimit]="1"
      ></app-dynamic-text>
      <span class="about-bracket">{{ '{ ' }}</span>
      <p class="about-text">
        {{ 'PAGES.ABOUT.SHORT_DESCR' | translate}}
      </p>
      <span class="about-bracket"> {{ '}' }} </span>
    </div>
  </div>
  <div class="right">
    <p id="about-descr" class="about-text">
      {{ 'PAGES.ABOUT.LONG_DESCR' | translate}}
    </p>
  </div>
</div>
