.container {
  width: 100%;
  height: 100%;
  background-color: var(--app-background-color);
  display: flex;
  flex-direction: row;
  font-size: 16px;
  font-family: var(--font-family-text-level-1);
  font-weight: 400;
  color: #E1E1E1;
  text-transform: uppercase;


  .drag {
    width: 50%;
    height: 90px;
    padding-top: 12px;
    padding-bottom: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu {
    width: 100%;
    height: 90px;
    padding-top: 12px;
    padding-bottom: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1em;
    // position: relative; 
    // left: 2em;
  }

   .text {
    .inner-text {
      position: relative;
      margin-right: 24px;
      cursor: pointer;

      &:hover {
        color: #89FF69;
      }
      .number{
        color: #89FF69;
      }
    }
  }

  .text:not(:last-child) {
    border-right: 1px solid white;
  }
}
