.container {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--app-background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .text-box {
    position: relative;
    left: 10%;
    display: flex;
    flex-direction: column;
    row-gap: 1em;
    .name {
      font-size: 81px;
      letter-spacing: -0.02em;
      text-shadow: rgb(242, 255, 91) 2.6px 0px 10.4px;
      color: rgb(242 255 91 / 1);
      font-family: var(--font-family-text-level-2);
      font-weight: 700;
      margin: 0 !important;
    }

    #short-text {
      font-weight: 300;
      font-size: 54px;
      font-family: var(--font-family-text-level-3);
      color: var(--color-secondary);
      box-shadow: rgba(137, 255, 105, 0.42);
      margin: 0 !important;
    }

    #long-descr {
      width: 75%;
      font-size: 24px;
      font-family: var(--font-family-text-level-1);
      color: var(--color-thirdy);
      margin: 0 !important;
    }

    app-dynamic-text {
      color: white;
    }

    .text {
      user-select: none;
    }

    .buttons {
      position: relative;
      top:1em;
      display: flex;
      flex-direction: row;
      column-gap: 1em;
      #contact {
        border-radius: .5rem;
        font-size: 2.25rem;
        font-weight: 500;
        font-family: var(--font-family-text-level-1);
        color: var(--app-background-color);
        background-color: var(--color-primary);
        border: solid 1px var(--color-primary);
      }
  
      #learn { 
        border-radius: .5rem;     
        font-size: 2.25rem;
        font-weight: 500;
        font-family: var(--font-family-text-level-1);
        color: var(--color-primary);
        background-color: var(--app-background-color);
        border: solid 1px var(--color-primary);
      }

      /** I bottoni si illuminano quando gli passo sopra*/
      #contact:hover, #learn:hover {
        background-color: var(--color-primary);
        color: var(--app-background-color);
        cursor: pointer;
        box-shadow: 0 0 24px 2px var(--color-primary);
      }
    }
  }

  .effect {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: var(--color-secondary);
    border-radius: 50%;
    box-shadow: 0 0 10px var(--color-secondary);
    box-shadow: 0 0 24px 2px var(--color-primary);
    animation: move-dot 3s infinite ease-in-out alternate;
    bottom: 30%;
    right: 10%;
    rotate: 25.2264deg;
    background: radial-gradient(circle, rgb(137, 255, 105), rgb(12, 12, 12));
  }
  
  .short-text {
    min-height: 70px;
  }
}

@keyframes move-dot {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(5px, 5px);
  }
  100% {
    transform: translate(5px, 5px);
  }
}