<div class="container">
  <div class="text-box">
    <p class="name text">{{texts.name}}</p>
    <p id="short-text" class="text">{{ texts.shortDescr}}</p>
    <p id="long-descr" class="text">
      {{ texts.longDescr }}
    </p>
    <app-dynamic-text [text]="'ciaooo'"></app-dynamic-text>
    <div class="buttons">
      <button id="contact" routerLink="/#/contacts">{{ 'PAGES.HOME.CONTACT_ME' | translate}}</button>
      <button id="learn" (click)="learnMore()">{{ 'PAGES.HOME.LEARN' | translate}}</button>
    </div>
  </div>
  <div class="effect"></div>
</div>
