<div class="container">
    <!-- Parte superiore -->
    <div class="up">
      <!-- Testo skills -->
      <div class="text-box">      
        <app-dynamic-text 
          [texts]="['PROJECTS']"
          [config]="'hover-title'"
          [cyclesLimit]="1"
        ></app-dynamic-text>
        <span class="skills-bracket">{{ "{ " }}</span>
        <p class="skills-text">
          {{ "PAGES.PROJECTS.LONG_DESCR" | translate }}
        </p>
      </div>
    </div>
    <!-- Parte inferiore -->
    <div class="down">
      <div *ngFor="let project of projects" class="box" (click)="onClickProject(project)">
        <img class="app-logo" [src]="project.image" />
        <app-dynamic-text 
          class="name"
          [texts]="[project.name]"
          [config]="'hover-title'"
          [cyclesLimit]="1"
          [style]="{
            fontSize: '36px'
          }"
        ></app-dynamic-text>
        <p class="descr">{{ project.description }}</p>
      </div>
    </div>
    <!-- Chiusa parentesi -->
    <div class="final-bracket">
      <span class="skills-bracket"> {{ "}" }} </span>
    </div>
  </div>
  