.container {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--app-background-color);
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-x: hidden;
  justify-content: center;
  top: -2em;

  //Sezione di DX
  .up {
    width: 100%;
    display: flex;
    flex-direction: row;

    .text-box {
      margin: 2em;
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  //Sezione di SX
  .down {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-left: 7em;
    column-gap: 2em;
    position: relative;
    row-gap: 1em;
    flex-wrap: wrap;
    max-height: 500px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #aaa #f0f0f0;

    .project-border {
      border: 1px solid var(--color-secondary);
      border-radius: 8px;
    }

    .outer-box {
      max-width: 500px;

      .inner-box {
        display: flex;
        flex-direction: column;
        margin: 2em;
        justify-content: center;
        align-items: center;
        row-gap: 1em;

        .name {
          color: var(--color-primary);
          font-size: 36px;
          font-family: var(--font-family-text-level-3);
          font-weight: 500;
        }

        .descr {
          font-family: var(--font-family-text-level-1);
          font-size: 24px;
          color: var(--color-thirdy);
        }

        .app-logo {
          width: 100px;
        }
      }
    }
  }

  .final-bracket {
    width: 100%;
    position: relative;
    left: 2em;
    top: 0.5em;
  }

  .skills-bracket {
    font-family: var(--font-family-text-level-1);
    font-size: 54px;
    color: var(--color-secondary);
  }
}

/* Chrome, Edge, Safari */
::ng-deep .down::-webkit-scrollbar {
  width: 6px;
  /* spessore verticale */
  height: 6px;
  /* spessore orizzontale, se serve */
}

::ng-deep .down::-webkit-scrollbar-track {
  background: #f0f0f0;
  /* sfondo canale */
  border-radius: 10px;
}

::ng-deep .down::-webkit-scrollbar-thumb {
  background-color: #999;
  /* colore barra */
  border-radius: 10px;
  border: 1px solid #f0f0f0;
  /* bordo per separarla dallo sfondo */
}

::ng-deep .down::-webkit-scrollbar-thumb:hover {
  background-color: #777;
  /* colore al passaggio */
}