.container_app {
  .header {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: aqua;
    background-color: var(--app-background-color);
    display: flex;
    flex-direction: row;

    app-menu {
      position: relative; 
      left: 2em;
    }

    app-lang-selector {
      position: absolute;
      top: 3em;
      right: 1em;
    }
  }

  .content {
    position: absolute;
    width: 100%;
    height: calc(100% - 90px - 24px);
    background-color: brown;
    background-color: var(--app-background-color);
  }
}