.container {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--app-background-color);
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-x: hidden;
  justify-content: center;
  top: -2em;

  //Sezione di DX
  .up {
    width: 100%;
    display: flex;
    flex-direction: row;
    .text-box {
      margin: 2em;
      margin-top: 0;
      margin-bottom: 0;
      .skills-down {
        color: var(--color-primary);
        font-size: 54px;
        font-family: var(--font-family-text-level-3);
        font-weight: 500;
      }
      .skills-text {
        font-family: var(--font-family-text-level-1);
        font-size: 24px;
        color: var(--color-thirdy);
        position: relative;
        left: 1em;
      }
    }
  }

  //Sezione di SX
  .down {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-left: 7em;
    column-gap: 2em;
    position: relative;
    .text {
      font-family: var(--font-family-text-level-1);
      font-size: 24px;
      color: var(--color-primary);
    }
    .line-container {
      width: calc(100% - 16em);
      height: 100%;
      display: flex;
      align-items: center;
      position: relative;
      top: calc(3em - 10px);
      flex-direction: column;
      .line {
        width: 100%;
        height: 2px;
        background-color: var(--color-secondary);
      }
      .dots-line {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        .dot-container {
          width: 100%;
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          padding-left: 1em;
          padding-right: 1em;
          .dot {
            width: 2em;
            height: 2em;
            top: -1em;
            position: relative;
            background-color: var(--color-secondary);
            border-radius: 50%;
            box-shadow: 0 0 10px var(--color-secondary);
            box-shadow: 0 0 24px 2px var(--color-primary);
            background: radial-gradient(
              circle,
              rgb(137, 255, 105),
              rgb(12, 12, 12)
            );
            transition: box-shadow 0.4s cubic-bezier(0.4, 0, 0.2, 1);
          }
          .dot:hover {
            box-shadow: 0 0 2em calc(1em / 2) var(--color-primary);
            cursor: pointer;
          }
          .dot:active {
            box-shadow: 0 0 2em calc(1em) var(--color-primary),
              0 0 2em 0.5em #deb456;
          }
          .text {
            position: relative;
            width: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            .title {
              color: var(--color-primary);
              font-size: 1em;
              font-family: var(--font-family-text-level-1);
              font-weight: 500;
            }
            .out-text {
              position: absolute;
              top: calc(2em - 4px);
              min-width: 300px;
              .description {
                position: relative;
                color: white;
                font-size: 24px;
                font-family: var(--font-family-text-level-1);
              }
              .dates {
                justify-content: start;
                color: var(--color-primary);
                font-size: calc(1em / 1.5);
                font-family: var(--font-family-text-level-1);
                font-weight: 500;
                font-size: 24px;
              }
              .tip {
                margin-top: 0.5em;
                font-size: calc(1em / 1.5);
                color: var(--color-thirdy);
                font-style: italic;
              }
            }
          }
        }
      }
    }
  }

  .final-bracket {
    width: 100%;
    position: relative;
    left: 2em;
    top: 2em;
  }
  .skills-bracket {
    font-family: var(--font-family-text-level-1);
    font-size: 54px;
    color: var(--color-secondary);
  }
}
